<!--Image Carousel, Search Input -->
	<div class="row offset2 span9" style="margin-top: 60px;">
		<!--Image Carousel-->
		<div id="myCarousel" class="carousel slide">
			<!-- Carousel items -->
			<div class="carousel-inner">
				<div class="active item">
					<img src="images/vendors/fv1.png" alt="">
					<div class="carousel-caption">
						<h4>Jain Caterers</h4>
						<p>So it is that time of your life, when youre getting cold feet because D-Day is finally here
Relax. The good news is that you have professionals like us at your disposal to sail you smilingly out of these days</p>
					</div>
				</div>
				<div class="item">
					<img src="images/vendors/fv2.png" alt="">
					<div class="carousel-caption">
						  <h4>Madhubhan Resort</h4>
						  <p>Our job at Madhubhan is to simply make your wedding memorable. If there are options that you wish to include we will help incorporate these into your wedding day, leaving nothing to chance, but everything to your imagination. </p>
					</div>
				</div>
				<div class="item">
					<img src="images/vendors/fv3.png" alt="">
                    <div class="carousel-caption">
                      <h4>Universal Wedding Cards</h4>
                      <p>An elite website for a extensive range of modern and conventional Indian Wedding Cards and Wedding accessories on stunning Handmade Papers with convenience of text printing, ordering samples, customization and delivery at your doorstep. </p>
					</div>
				</div>
				
			</div>
			<!-- Carousel nav -->
			<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
		
		<div class="row search-form-actions" style="clear: left; margin-left: 0px;">	
			<div>
				<h3>What are you looking for?</h3>
				 <!--<input class="input-medium" type="text" placeholder="Category">-->
				<table width="80%">
					<tr>
						<td width="42%" valign="middle">
							<div class="control-group">               
								<div class="controls">  
								  <select id="select01">  
									<option>Select Vendor Category</option>  
									<option>Food Caterers</option>  
									<option>Photographer</option>  
									<option>Venues</option>  
									<option>Beautician</option> 
									<option>Florist</option> 
									<option>Music(Orchestra)</option>  
									<option>Hotels</option> 
									<option>Transportation</option>  
								  </select>  
								</div>  
							</div>
						</td>
						<td width="5%">
							<h5>OR</h5>
						</td>
						<td width="53%" align="right" valign="top">
							<input class="input-large" type="text" placeholder="Search Vendor">
							<button class="btn btn-primary" type="button">Search</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>