<div class="row span10" align="center">
  
      <div class = "span3">
       <a href="#" class="thumbnail">
        <img src="images/cal.png" alt="">    
        </a>
      </div>
      
      
      <div class = "span3">
      <a href="#" class="thumbnail">
        <img src="images/Checklist1.jpg" alt="">  
        </a>   
      </div>
      
      
      <div class = "span3">
      <a href="#" class="thumbnail">
        <img src="images/vend.png" alt="">  
        </a>   
      </div>
  
  </div>
  
    <div class="row span10" style="padding-top:10px;" align="center">
  
        <div class = "span3">
      <a href="#" class="thumbnail">
        <img src="images/exp.png" alt="">  
        </a>   
      </div>
      
      
          <div class = "span3">
      <a href="#" class="thumbnail">
        <img src="images/soc.png" alt="">  
        </a>   
      </div>
      
      
         <div class = "span3">
      <a href="#" class="thumbnail">
        <img src="images/vs.png" alt="">  
        </a>   
      </div>
  
  </div>