<div class="navbar navbar-inverse navbar-fixed-top" >
		<div class="navbar-inner" style="min-height: 40px;">
			<div class="container">
				<div class="pull-left">
					<a class="brand fontface" style="color:#FFFFFF; font-size:30px;margin-top: 2px" href="#">Make Your Shaadi</a>
				</div>
				<div class="nav-collapse collapse pull-right" style="margin-top:1px">
					<div class="btn-group">
						<button class="btn-home">Home</button>
						<button class="btn-arrow dropdown-toggle" data-toggle="dropdown">
                   
						<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
						<li><a href="#">Account settings</a></li>
						<li><a href="#">Help</a></li>
						<li class="divider"></li>
						<li><%= link_to "Log out", signout_path, id: "sign_out" %></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
    </div>
  