 <div class="span11 offset1" style="margin-top: 60px;">
  <div>
    <h2>Hello <%= current_user.name %> ..</h2>
    <p>Let's start planning your dream wedding!! <br>
    Excited? You better be! :) <br> 
    
     <div class="form-actions">
     <input class="input-medium" type="text" placeholder="Location">
     
     <input type="text" class="input-medium" value="02-16-2012" id="dp1" >
     <!--<input class="input-medium" type="text" placeholder="Date">-->
     <button class="btn btn-primary" type="button">Plan!</button> 

	<!--<div class="alert alert-info offset4 span4">-->
    &nbsp;&nbsp; Date not fixed? That's fine! Enter an dummy date to help us plan better..
 	<!--</div>-->
     </div> 
    </p>
  </div>