<div class="navbar navbar-inverse navbar-fixed-top" >
  <div class="navbar-inner" style="min-height:70px;">
    <div class="container">
      <div class="pull-left">
          <a class="brand fontface" style="color:#FFFFFF; font-size:46px;margin-top: 15px;" href="#">Make Your Shaadi</a>
      </div>
      <div class="nav-collapse collapse pull-right" style="margin-top:16px">
      		<button type="button" class="btn1" data-toggle="modal" data-target="#login">Log In</button>
                &nbsp;&nbsp;
                <button type="button" class="btn1" data-toggle="modal" data-target="#myModal">Sign Up</button>
      </div>
   </div>
  </div>
</div>